{
  "sources": {
    "case_export_all.csv": "", 
    "Child List:Close.csv": "", 
    "Pregnancy Outcome.csv": "", 
    "Death without Registration.csv": ""
  }, 
  "bamboo_server": "http://localhost:8080"
}
